{%block content%}
{% load static %}
{% if material %}
    <p> {{material.topic }}</p>
    <p> {{ material.text }}</p>
    <p> {{ material.audio }}</p>
{% endif %}
{% endblock %}
<a href="{% url 'NewLanguage:question' material.id %}">Questions</a>
{% comment "how it works" %}
 The questions and the study material are in the same page.
 It displays the topic and details of the studymaterial then the questions are 
 gotten using the reverse relationship (ForeignKey)of the study material to the question
and the options of each question is gotten using the reverse relationship
{% endcomment %}